body {
	background-color: #B9D9EB;
}

.panel {
	position:relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px;
	height: 500px;
    width: 100%;
}

.image {
    border: 2px solid black;
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
  	margin-right: auto;
}

img {
	object-fit: cover;
}

.image-4, .image-6, .image-7 {
	position: absolute;
	height: 500px;
    width: 500px;
}

#image-bear, #image-worm {
	visibility: hidden;
}

#image-reject {
	visibility: hidden;
}

#image-argument {
	visibility: hidden;
}

.words {
	height: 500px;
	width: 500px;
	position: absolute;
}

.image-word {
	width: 120px;
	/*height: 90px;*/
	position: absolute;
	z-index: 6;
}

.image-word-overline {
	position: absolute;
	z-index: 5;
	visibility: hidden;
}

.image-word:hover {
	cursor: pointer;
	background-image: url(outline.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}

#word-bear:hover {
	background-image: url(bear-outline.png);
}

#word-bear {
	bottom: 85px;
	right: 110px;
}

#word-worm {
	top: 143px;
	left: 85px;
}

#word-horse {
	top: 18px;
	left: 190px;
}

.buttons {
	position: absolute;
	z-index: 3;
	bottom: 10px;
}

.buttons button {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 15px;
}