.panel {
	position:relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px;
	height: 500px;
    width: 100%;
}

.image {
    border: 2px solid black;
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
  	margin-right: auto;
}

img {
	object-fit: cover;
}

.image-4, .image-6, .image-7 {
	position: absolute;
	height: 500px;
    width: 500px;
}

#image-bear, #image-worm {
	visibility: hidden;
}

#image-reject {
	visibility: hidden;
}

#image-argument {
	visibility: hidden;
}

.words {
	height: 500px;
	width: 500px;
	position: absolute;
}

.image-word {
	position: absolute;
	z-index: 6;
}

.image-word-overline {
	position: absolute;
	z-index: 5;
	visibility: hidden;
}

.image-word:hover {
	cursor: pointer;
	background-image: url(pink-overline.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}

#word-bear {
	top: 112px;
	left: 193px;
}

#word-worm {
	top: 99px;
	right: -8px;
}

#word-horse {
	top: 40px;
	left: 4px;
}

.buttons {
	position: absolute;
	z-index: 3;
	bottom: 10px;
}

.buttons button {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 15px;
}